body {
    background-color: #f8f9fa;
}

.banner {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.banner-text h1 {
    font-size: 3rem;
    font-weight: bold;
}

.restaurant-card {
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.restaurant-card:hover, .restaurant-card:focus {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.rating {
    font-size: 1.2rem;
    color: #ffc107;
}

.star-empty {
    color: #e0e0e0;
}

.btn-primary {
    background-color: #264653;
    border-color: #264653;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
    background-color: #1b333d;
    border-color: #1b333d;
    color: #e76f51; /* Change text color to #e76f51 on hover */
}

@media (max-width: 768px) {
    .card-img-top {
        height: 150px;
    }
    
    .banner {
        height: 200px;
    }
    
    .banner-text h1 {
        font-size: 2rem;
    }
}

.navbar {
    background-color: #264653 !important;
}

.btn-custom {
    background-color: #264653;
    border-color: #264653;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
    background-color: #1b333d;
    border-color: #1b333d;
    color: #e76f51; 
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #e76f51 !important;
}

.inline-item {
    display: inline-block;
    vertical-align: middle;
}

.professor, .team {
    white-space: nowrap;
}

